@use "../../scss/mixins/colors" as colors;
@use "../../scss/mixins/fonts" as fonts;
@use "../../scss/mixins/media" as media;

.bookModal {
  position: relative;

  width: 50%;
  max-height: 80vh;

  overflow-y: auto;

  background: colors.$panel;

  padding: 3em;
  border-radius: 1em;

  color: colors.$background;
  font-family: fonts.$body-font;

  &__overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
  }

  &__title {
    margin: 0 0 1em;

    font-family: fonts.$heading-font;
    font-size: 2em;
  }

  &__info {
    margin: 0.5em 0;
  }

  &__description {
    line-height: 1.5em;
    margin-top: 1.5em;
  }

  &__close {
    position: absolute;

    top: 1em;
    right: 1em;

    font-weight: 500;

    border: none;
    background: none;

    cursor: pointer;

    color: colors.$background;
    font-family: fonts.$body-font;
  }
}
