/* unlikely to need any styling at the app level but we'll leave this wired up just in case */
@use "./scss/mixins/colors" as colors;
@use "./scss/mixins/fonts" as fonts;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

  color: colors.$text;
  background-color: colors.$background;

  .main-heading {
    font-size: 3em;
  }

  .main-sub-heading {
    font-size: 1.25em;
    margin: 0;
  }
}
